[defaults]
inventory = ./gcp_compute.yaml

# 최초 SSH 접속 시 trust 묻는 프롬프트 없애기
host_key_checking = False
# python 경로
interpreter_python = /usr/bin/python3

# google private key 사용
# linux용
# private_key_file = /home/user/.ssh/google_compute_engine
# mac용
private_key_file = /Users/jhs/.ssh/google_compute_engine

[ssh_connection]
# linux용
# ssh_args = -o ProxyCommand='/usr/lib64/google-cloud-sdk/platform/bundledpythonunix/bin/python3 /usr/lib64/google-cloud-sdk/lib/gcloud.py compute start-iap-tunnel %h %p --listen-on-stdin --project=k8s-project-499610 --zone=us-central1-a --verbosity=warning' -o ProxyUseFdpass=no -o StrictHostKeyChecking=no -o ConnectTimeout=60
# mac용
ssh_args = -o ProxyCommand='/Users/jhs/.config/gcloud/virtenv/bin/python3.14 /opt/homebrew/Caskroom/gcloud-cli/573.0.0/google-cloud-sdk/lib/gcloud.py compute start-iap-tunnel %h %p --listen-on-stdin --project=k8s-project-499610 --zone=us-central1-a --verbosity=warning' -o ProxyUseFdpass=no -o StrictHostKeyChecking=no -o ConnectTimeout=60
# SSH 연결 최적화
pipelining = True
